.rigtht_content {
    display: flex;
    height: 300px;
    width: 100%;
    
}

#expertName {
    width: 50px;
}

#expertComent {
    width: 280px;
}

.input {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    outline: none;
    text-align: center;
    height: 40px;
    background-color: #1d2b3a;
    color: white;
    font-size: 12px;
}

.rigtht_content span,
.rigtht_content {
    padding: 10px;
}



#formDiv {
    border-radius: 8px;
    height: 450px;
    background-color: bisque;
    position: relative;
}

#formDiv span {
    margin: 3px;
    color: black;
}

#formDiv #expertComentFrom p{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn {
    height: 40px;
    width: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: #1d2b3a;
    color: white;
}

#expertComentBox {
    display: flex;
    flex-direction: column-reverse;
    height: 200px;
}

#expertComentBox div {
    display: flex;
    justify-content: space-between;
}

#expertComentBox div span {
    border: 1px soild rgba(255, 255, 255, 0.25);
    letter-spacing: 0.2em;
}

#formDiv p {
    color: white;
    margin-left: 15px;
}